<h1>Car List</h1>
<form action="/cars" method="post">
  <label for="new-cars">Add a new item</label>
  <p>Brand</p><input id="new-brand" name="new-brand" type="text"><br>
  <p>Model</p><input id="new-model" name="new-model" type="text"><br>
  <p>Price</p><input id="new-price" name="new-price" type="text"><br>
  <button type="submit">Submit</button>
</form>
